@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - SETTINGS
-------------------------------------------------------------- */



/*--------------------------------------------------------------
2.0 - TOOLS
-------------------------------------------------------------- */


/*--------------------------------------------------------------
3.0 - GENERIC
-------------------------------------------------------------- */
html {
	font-size: 10pt;
	font-family: 'Open Sans', sans-serif;
	text-transform: capitalize;
}


/*--------------------------------------------------------------
4.0 - ELEMENTS
-------------------------------------------------------------- */
a {
	text-decoration: none;
}

p {
	font-size: 1rem;
	line-height: 2.25em;
}

/* -- FORMS -- */
form label {
	font-size: 1.25rem;
}

/* -- LISTS -- */
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h3 {
	color: #727272;
}

/*--------------------------------------------------------------
5.0 - OBJECTS
-------------------------------------------------------------- */

@media screen and (min-width: 768px) {     /*medium display */
}



@media screen and (min-width: 1024px) {    /*large display */

	
}



/*--------------------------------------------------------------
6.0 - COMPONENTS
-------------------------------------------------------------- */
input, form p, header nav li, #pages li,footer li, #bg-desk img {
	display: inline-block;
} 
/* -- TYPOGRAPHY-- */
time {
	color: #4c4c76;
}

#blog header a {
	color: #03d2c8;
}
#hero-type {
	font-size: 1.5rem;
}

#blog h3 {
	font-size: 1.25rem;
}

#pages h3 {
	padding-left: 0;
	text-align: left;
	padding-bottom: 1em;
	
}

#about section, #pages h3 {
	border-bottom: solid thin #e8e8e8;
} 
h2 {
	color: #2e004b;
	font-size: 1.5rem;
	display: block;
}

header div div, nav ul, #circle p, #pages>p:last-of-type, #about, #pages header, #bg-desk footer p {
	text-align: center;
}

#courses p:first-child {
	color: #727189;
}

#courses header {
	padding-top: 4em;
}

#courses>div:first-child {
	padding: 1em 0;
}


.fa-star, .fa-gem, .fa-crown {
	color: #fd8e5e;
}

.fa-hands-wash {
	color: #60dfd8;
}

.fa-birthday-cake {
	color: #d465ee;
}
.fa-book-open {
	color: #05d4ca;
}

/* -- LAYOUT -- */


/* -- BUTTONS -- */
.btn {
	padding: 1em 2.5em;
	-webkit-border-radius: 6rem;
	-ms-border-radius: 6rem;
	-o-border-radius: 6rem;
	-moz-border-radius: 6rem;
	border-radius: 6rem;

}



/* -- HEADER -- */

header nav li{
	margin-right: 1.25em;
	margin-bottom: 1em;
	
}

nav a:hover {
	border-bottom: solid #03d2c8;
}

header nav li:last-child {
	margin-right: 0;
}




/* -- NAVIGATION -- */

header nav {
	font-size: 1.25rem;
	padding: .5em;
}


/* -- IMAGES --*/


.bg-gradient {
	background: rgb(78,57,211);
background: -webkit-linear-gradient(bottom, rgba(78,57,211,1) 0%, rgba(156,74,235,1) 63%);
background: -o-linear-gradient(bottom, rgba(78,57,211,1) 0%, rgba(156,74,235,1) 63%);
background: linear-gradient(to top, rgba(78,57,211,1) 0%, rgba(156,74,235,1) 63%);
}

#bg-hero {
	background: url("../img/hero.jpg") no-repeat scroll; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}

#bg-desk {
	background: url("../img/bg-desk.jpg") no-repeat scroll; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}

#bg-desk footer p {
	font-size: 1rem;
	padding-bottom: 4em;
}

blockquote img {
	margin-top: 4em;
}

#bg-teal {
	background-color: #03d2c8;
	
}



.circ {
	width: 350px;
	height: 350px;
	-web-kit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	opacity: .8;
}

#circle p{
	padding-top: 4em;
	font-size: 2rem;
	line-height: 3rem;
	color: #fff;
}

#circle p span {
	font-size: 6rem;
	color: #fff;
}


#pages p, #pages li:first-child {
	color: #727272;
}

#pages li {
	padding-top: 1.5rem;
}

#pages li:first-child {
	text-decoration: line-through;
}
#pages li:last-child {
	color: #1e1e1e;
}

#pages>p a:hover {
	background-color: #fcae5c;
	border: none;
	color: #fff;
}
#jquileen {
	width: 100px;
	height: 100px;
	-web-kit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}


#about p {
	color: #727272;
}


footer p:first-of-type {
	font-size: 2rem;
}

#address p:first-of-type {
	font-size: 1rem;
	line-height: 1.25rem;
}



footer ul:nth-child(2) li, footer ul:nth-child(3) li {
	padding-right: 1em;
}
footer h4 {
	font-size: 1.5rem;
}



footer div:last-of-type {
	font-size: 1rem;
}
#address address{
	font-size: 1rem;
}
/*--------------------------------------------------------------
7.0 - UTILITIES
-------------------------------------------------------------- */


/* -- ALIGNMENT -- */



/* -- COLOR -- */


h1, li, .fa-user, .fa-phone-alt, .btn, header, nav a, #bg-teal, footer, #bg-teal h2, #circle p, #login a, #circle p {
	color: #fff;
}

#login a:hover {
	color: #fcae5c;
}

.blue {
	background-color: #8ec9ff;
}

.teal {
	background-color: #60dfd8;
}

.orange, form p {
	background-color: #fcae5c;
}

form p a{
	padding: .1em;
}

.white {
	background-color: #fff;
	color: #03d2c8;
	border-style: solid;
	border-color: #03d2c8;
}


/* -- SIZE -- */








